@include media-breakpoint-between(xs, sm) {
    .btn {
        @include button-size($input-btn-padding-y-sm, $input-btn-padding-x-sm, $font-size-sm, $line-height-sm, $btn-border-radius-sm);
    }
}

#image-container {
    width: 100%;
    height: 200px;
    /* hoặc kích thước tùy ý */
    overflow: hidden;
    /* để ảnh bị ẩn khi vượt quá kích thước của div */
}

#image-container img {
    display: inline-block;
    /* để ảnh được hiển thị dọc theo chiều ngang */
    height: 100%;
    /* kích thước ảnh theo chiều dọc của div */
}